@import url(estilos/header.css);;

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fundo-principal: #EBECEE;
    --branco: #ffffff;
    --azul-degrade: 'cor';
    --azul-menu: linear-gradient(to top, #2433c2c9, #82b2df);
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--fundo-principal);
}

.carrossel__imagens {
    display: none;
}

.apresentaçao__imagem {
    height: 20px;
    width: 20px;
}