@import url(estilos/header.css);
@import url(estilos/carrossel.css);
@import url(estilos/apresentaçao.css);
@import url(estilos/rodapé.css);
@import url(trabalhosrealizados.css);

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --preto: #000000;
    --fonte-secundaria: "Josefin Sans";
    --fonte-padrao: "Poppins";
    --fundo-principal: azure;
    --branco: #ffffff;
    --subtitulos: rgb(184, 242, 250);
    --azul-menu: linear-gradient(to right, #2433c2c9, #152686);
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--fundo-principal);
}

.apresentaçao__imagem {
    height: 20px;
    width: 20px;
}

.container-titulo {
    color: var(--preto);
    font-family: var(--fonte-padrao);
    font-size: 1.3rem;
}

.container-texto {
    font-family: var(--fonte-padrao);
    margin-bottom: 2em;
    font-weight: 400;
}
