.trabalhos__container {
    background-color: azure;
    padding: 1px;
    
    display: flex;
    justify-content: space-around;
}

.container-titulo__trabalhos {
    font-weight: 400;
}

.imagem__trabalhosrealizados {
    width: 450px;
    height: 640px;
}

.descricao__sofalimpo1 {
    width: 20%;
    text-align: center;

}

