.trabalhos__container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
    margin-top: 1rem;
}

.img {
    height: 400px;
    width: 200px;
}

.container-titulo__trabalhos {
    background-color:  var(--subtitulos);
    width: 50%;
    margin: auto;

    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.452);

}