.trabalhos__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 600px;

    gap: 1rem;

    background-color: var(--trabalhosrealizados)

}

.container-imagens {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;

}

.imagem {
    opacity: 0;
    position: absolute;
    width: 100%;

    border-radius: 10px;
    border: 1px solid white;

}

.imagem2 {
    opacity: 0;
    position: absolute;
    width: 100%;

    border-radius: 10px;
    
    border: 1px solid white;

}

.on {
    opacity: 1;
}

.on2 {
    opacity: 1;
}

#prev-button, #next-button, #prev-button2, #next-button2 {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container-titulo__trabalhos {
    background-color: var(--trabalhosrealizados);

    font-size: 5rem;


    width: 100%;
    margin: auto;

    /* box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.452); */
}


.container__descricao-trabalhosrealizados {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;

}

.texto-trabalhos {
    width: 350px;
}