.cabeçalho {
    background-image: var(--azul-menu);

    
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);
    
    display: flex;
    align-items: end;
}

.menu__opçao {
    text-decoration: none;
    
    color: var(--branco);
    font: normal 1rem var(--fonte-padrao);
    text-transform: uppercase;

    display: inline-block;
    padding: 1rem;
}

.menu__opçao:hover {
    color: rgb(104, 216, 231);
    transition: 0.5s;
}

.menu__imagem {
    width: 100px;
    height: 100%;

    display: block;
}

