.cabeçalho {

    background-image: var(--azul-menu);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.596);
    
}

.menu__opçao {
    text-decoration: none;
    color: var(--branco);
    font: normal 0.95rem var(--fonte-padrao);
    text-transform: uppercase;
}

.menu__container { 
    display: flex;
    justify-content: space-around;
    align-items: end;

    height: 55px;
    padding: 0.5em;

}

