.rodapé {
    background-color: black;
    height: 40%;

    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

.rodapé__lista {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.rodapé__lista-link {
    text-decoration: none;
    color: var(--branco);
    font: normal 0.85rem Arial;
}

.rodapé__lista-titulo {
    text-decoration: none;
    color: var(--branco);

    font: normal 1rem Arial;
    font-weight: 700;
}

.rodapé__lista-link:hover {
    color: blueviolet;
}