* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    font-family: 'Montserrat';


}

strong{
    color: #22D4FD;
}

.principal {
    margin: 10% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.container {
   width: 615px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   
}

.container__titulo {
    font-size: 3rem;
}

.container__texto {
    font-size: 1.2rem;
}


.botão {

    width: 280px;

    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 24px;

    color: black;
    background-color: #22D4FD;

    padding: 1.5rem 0;

    border-radius: 16px;
    border: 1px solid black;
}

.container__botões {
    display: flex;
    justify-content: space-between;

}


