.content__rodadas {
    display: flex;
    flex-flow: column;
    row-gap: 3.5em;
}

.rodadas {
    -webkit-text-stroke-color: rgba(0, 81, 242, 0.767);
    -webkit-text-stroke-width: 1px;

    text-decoration: none;
    color: black;
}